@font-face{
  font-family: "Poppins";
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf), url(../assets/fonts/Poppins/Poppins-Regular.ttf), url(../assets/fonts/Poppins/Poppins-Medium.ttf), url(../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

* {
  background-color: rgb(142, 207, 204);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  color: rgb( 85,85,85);
}
a,
.btn {
  transition: all 300ms ease;
}
nav,
.nav-links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
.nav-links-footer {
  display: flex;
  gap: 1rem;
  list-style: none;
  font-size: 1rem;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.75rem;
}
.logo{
  font-size: 2rem;
}
.logo:hover{
  cursor:default;
}

#hamburger-nav{
  display: none;
}
.hamburger-menu{
  position: relative;
  display: inline-block;
}
.hamburger-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span{
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 300ms ease-in-out;
}
.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
 
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.menu-links a{
  display: block;
  padding: 8px;
  text-align: center;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.menu-links li{
  list-style: none;
}
.menu-links.open{
  opacity: 90%;
  max-height: 300px;
}
.navlistitem {
  text-align: center;
  padding: 7px;
}

.navlistitem a {
  color: #352f43;
}
.text-container {
  text-align: justify;
  font-size: 18px;
}

/* footer */
footer {
  text-align: center;
}
  /* sections */
  .div__container {
    padding-top: 4vh;
    margin: 0 14rem;
    box-sizing: border-box;
    width : 70vw;
    height: 60vh;
  }

  /* Home section */
  #home{
    display: flex;
    gap: 5rem;
  }
  .section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto;
  }
  .section__text{
    align-self: center;
    text-align: center;
    width: 55vw;
    gap: 3rem;
  }
  .section__text p {
    font-weight: 600;
  }
  .section__text__p1 {
    text-align: center;
  }
  .section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
  #socials-container {
    display:flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  /* icons */
  .icon {
    height: 2rem;
  }
  
  /* Buttons*/
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .btn {
    font-weight : 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: rgb(53,53,53);
    border: rgb(53,53,53) 0.1rem solid;
  }
  
  .btn:hover {
    color: black;
    cursor: pointer;
    border: none;
    border-color: rgb(163,163,163);
  } 

    /* ABOUT SECTION*/
    #about {
      position: relative;
    }
    .about-section{
      display: flex;
    }
  
    .about-container {
      gap: 2rem;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
    .about-details-container{
      justify-content: center;
      flex-direction: column;
    }
    .about-container,
    .about-details-container {
      display: flex;
    }
    .about-pic {
      border-radius: 4rem;
      margin: 2rem;
    }
    .details-container {
      padding: 1.5rem;
      flex: 1;
      border-radius: 2rem;
      border: rgb(53,53,53) 0.1rem solid;
      border-color: rgb(163,163,163);
      text-align: center;
    }
      /* EXPERIENCE SECTION*/
  #experience {
    position: relative;
  }
 
  .experience-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-around;
  }
  article {
    display: flex;
    width: 10rem;
    justify-content: start;
    gap: 0.5rem;
  }
  article .icon{
    cursor: default;
  }

    /* projects */
    #projects {
      position: relative;
    }
    .color-container {
      border-color: rgb(163,163,163);
    }
    .project-img {
      border-radius: 2rem;
      width: 70%;
      height: 70%;
    }
    .project-title {
      margin: 0.75rem;
      color: black;
    }

       /* Contact */
   #contact {
    position: relative;
    padding-top: 15vh;
   }
   .contact-container{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
   }
   .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    margin: 2rem auto;
    padding: 0.5rem;
   }
   .contact-info-container {
    display: flex;
    align-items :center;
    justify-content:center;
    gap: 0.5rem;
    margin: 1rem;
   }
   .contact-info-container p {
    font-size: larger;
   }
   .email-icon {
    height: 2.5rem
   } 


  

  
  
 
